version: 0.1

jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01
    working_directory: ~/project
    steps:
      - checkout
      - run: mkdir build build/obj
      - run: sudo apt-get update; sudo apt-get install clang
      - run: make CC=clang++